

.season {
  text-align: left;
  display: flex;
     align-items: flex-start;
  gap: 10px;
    margin-top: -10px;
}



.element-circles {
    display: flex;
    flex-direction: column;
gap: 1px;
  }

.element-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.season-name {
  font-size: 0.9em;
  color: #ffffff;
  font-weight: 500;
    font-family: inherit;
}