

.season {
  text-align: left;
  display: flex;
 
  gap: 10px;
}



.element-circles {
    display: flex;
    flex-direction: column;
  }
.element-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.season-name{
  font-size: 0.9em;
  color: #333;
  font-weight: 500;
}