

.season {
  text-align: left;
  display: flex;
     align-items: center;
  gap: 10px;
    margin-top: -7px;
}



.element-circles {
    display: flex;
    flex-direction: column;
gap: 1px;
  }

.element-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.season-name {
  font-size: 0.9em;
  color: rgba(246, 246, 246, 0.94);
  font-weight: 600;
  font-family: "Diatype Variable", sans-serif;
    mix-blend-mode: exclusion;
font-variation-settings: 'slnt' 0, 'MONO' 0;
line-height: 1.2;
letter-spacing: 0em;
}
